.article-container {
    position: relative;
    max-width: 675px;
    margin: 0 auto;

    .article-header {
        position: relative;
        text-align: center;
        margin: $spacer * 3 0;

        h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
            margin-bottom: $spacer;
        }

        .article-date-modified {
            font-weight: bold;
        }
    }

    .article-content {
        position: relative;

        p {
            text-align: justify;
            text-justify: inter-word;
        }

        img {
            max-width: 100%;
        }

        h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
            margin-bottom: $spacer;
        }
    }
}

@include media-breakpoint-down(sm) {
    .article-container {
        max-width: 100%;
    }
}