.pushable {
    background: var(--color-primary);
    border-radius: 50rem;
    border: none;
    padding: 0;
    outline-offset: 4px;

    .front {
        display: block;
        padding: 1.2rem;
        background: var(--color-white);
        color: var(--color-primary);
        font-weight: var(--font-weight-bold);
        border: 2px solid var(--color-primary);
        transform: translateY(-6px);
        border-radius: 50rem;
    }

    &:active {
        .front {
            transform: translateY(-2px);
        }
    }
}

.button {
    &.white {
        color: var(--color-primary);
        background-color: var(--color-white);
        border: 2px solid var(--color-grey);
        z-index: 1;
    }

    &:focus {
        box-shadow: 0 0 0 .2rem rgba(71, 49, 28, .25);
        outline: 0;
    }
}
