.quiz-card {
    position: relative;
    display: flex;
    padding: $spacer * 4;
    flex-direction: column;
    height: 180px;
    color: $lighter-brown;
    background-color: $brown;
    border-radius: 1.2rem;
    cursor: pointer;

    .quiz-card-header {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .quiz-card-header-title-and-status {
            z-index: 1;
        
            .quiz-card-header-title {
                color: $white;
            }    
        }

        .quiz-card-icon {
            position: absolute;
            top: 0;
            right: 0;
    
            i {
                color: $light-brown;
                font-size: 48px;
            }
        }
    }

    .quiz-card-content {
        position: relative;
        margin-top: auto;

        .quiz-card-status {
            font-weight: 700;
            color: $white;
        }

        .quiz-card-progress-bar {
            position: relative;
            display: flex;
            align-items: center;

            .play-icon {
                display: flex;
                justify-content: flex-end;
                color: $primary;
                width: 36px;
            }
        }
    }

    &.is-loading {
        h3, p {
            background: linear-gradient(110deg, $light-brown 8%, $lighter-brown 18%, $light-brown 33%);
            background-size: 200% 100%;
            animation: 1.5s shine linear infinite;
            border-radius: $border-radius;
        }

        .quiz-card-header-title-and-status {
            width: 100%;
        
            .quiz-card-header-title {
                height: 26px;
                margin-bottom: $spacer * .5;
            }
        
            .quiz-card-header-status {
                height: 20px;
            }
        }

        .quiz-card-header-level {
            display: none;
        }
    }      
}

@include media-breakpoint-down(sm) {
    .quiz-card {
        height: 160px;
    }
}

@keyframes shine {
    to {
      background-position-x: -200%;
    }
}