.nav {
    padding-bottom: 1rem;
    padding-top: 1rem;

    .nav-brand {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    
    .brand, a {
        font-weight: 900;
    }

    .brand {
        padding: 0;
    }

    .toggler {
        display: none;
        border: 0;
        font-size: 1.4em;
        color: #47311c;
        width: 36px;
        padding: 0;
        background: unset;
    }

    .nav-collapse {
        >div {
            display: flex;
            flex-direction: row;
            justify-content: right;
        }
    }
}

@media screen and (max-width: 599px) {
    .nav {
        flex-direction: column;
        min-height: 0;

        .nav-brand {
            flex-direction: row;
            display: flex;
            justify-content: space-between;
        }

        .toggler {
            display: block;
        }

        .nav-collapse-md {
            position: relative;
            display: grid; 
            grid-template-rows: 0fr;
            transition: 250ms grid-template-rows ease;
            justify-content: unset;

            >div {
                display: block;
                overflow: hidden;
            }

            a {
                padding-left: 0;
                padding-right: 0;
            }

            &.show {
                grid-template-rows: 1fr;
            }
        }   
    }
}