.navbar {
    padding-left: 0;
    padding-right: 0;

    .navbar-brand {
        text-transform: lowercase;
        font-size: $h1-font-size;
        color: $primary;
    }
    
    .navbar-toggler {
        color: $primary;
        font-size: 1.4rem;
        width: 36px;
        height: 36px;
        display: flex; 
        justify-content: center;
        align-items: center;
        padding: 0;
        border: 0;
    }

    .navbar-nav {
        .nav-item {
            a {
                color: $primary;
            }
        }
    }
}