.question {
    .syllable {
        -webkit-transition: .4s;
        transition: .4s;
    }
}

.quiz-card {
    height: 160px;
    cursor: pointer;
    border-radius: 20px;

    .level {
        font-size: 24px;
    }

    .shield-icon {
        color: $light-brown;
        font-size: 48px;
    }

    .play-icon {
        width: 36px;
        margin-bottom: -4px;
    }
}

.aksara, .latin {
    color: $white;
}

.aksara {
    font-size: 42px;
}

.latin {
    height: 24px;
}

.current, .answered {
    color: $dark-brown;
}

.icon-button {
    cursor: pointer;
    font-size: 36px;
    z-index: 9999;
}

.quiz-progress-bar {
    height: 56px;
}

.top-items {
    top: 36px;
}

.close-icon {
    left: 64px;
}

.sound-icon {
    right: 64px;
}

.heading {
    font-size: 24px;
}

.choices {
    .button {
        padding: 4px 16px;
        border-radius: 10px;
    }
}

.notification {
    visibility: hidden;
    bottom: 52px;
    color: $white;
    font-weight: $font-weight-bold;
    background-color: $dark-brown;
    border-radius: $rounded-pill;
    opacity: 0;
    -webkit-transition: .4s;
    transition: .4s;

    &.visible {
        visibility: visible;
        opacity: 1;
        transform: translateY(-12px);
    }
}

@include media-breakpoint-down(sm) {
    .icon-button {
        font-size: 32px;
    }

    .quiz-progress-bar {
        height: 48px;
    }
    
    .top-items {
        top: 24px;
    }

    .close-icon {
        left: 21px;
    }

    .sound-icon {
        right: 21px;
    }

    .heading {
        font-size: 18px;
    }
}
