.quiz-wrapper {
    position: relative;
    height: 100vh;

    .quiz-top-area-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .close-icon, .sound-icon {
        width: fit-content;
        cursor: pointer;
    }

    .close-icon {
        font-size: 2rem;
    }
    
    .sound-icon {
        font-size: 1.6rem;
    }

    .thumbs-up-icon {
        position: relative;
        overflow: hidden;
    
        i {
            font-size: 6rem;
            color: $blue;
            animation: thumbs-up-animation 0.4s ease-out;
        }
    }

    .latin-syllable, .aksara-syllable {
        color: rgba($dark-brown, .2);

        &.current, &.answered {
            color: $dark-brown;
        }
    }
    
    .aksara-syllable {
        font-size: 3rem;
    }

    .latin-syllable {
        font-weight: $font-weight-bold;
        font-size: 1.2rem;
    }

    .quiz-translation,
    .quiz-next-button-area {

        &.invisible {
            transition: none;
            transition-delay: 0;
            opacity: 0;
        }

        &.visible {
            transition: all .5s ease-out;
            transition-delay: .4s;
            opacity: 1;
        }
    }

    .next-question-button {
        color: $white;
        background-color: $dark-brown;
        border-radius: $rounded-pill;
        padding-left: $spacer * 3;
        padding-right: $spacer * 3;
        border: 0;     
    }

    .notification {
        position: absolute;
        width: fit-content;
        padding: $notification-padding-y $notification-padding-x;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        visibility: hidden;
        opacity: 0;
        color: $white;
        background-color: $dark-brown;
        font-weight: $font-weight-bold;
        border: 0;
        border-radius: $rounded-pill;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;

        &.visible {
            opacity: 1;
            transform: translate(-50%, $spacer * -3);
        }

        &.primary {
            background-color: $primary;
        }

        &.secondary {
            background-color: $secondary;
        }

        &.info {
            background-color: $info;
        }

        &.success {
            background-color: $success;
        }

        &.warning {
            background-color: $warning;
        }

        &.danger {
            background-color: $danger;
        }
    }
}

@include media-breakpoint-down(sm) {
    .quiz-instruction {
        font-size: $h4-font-size;
    }

    .latin-syllable {
        font-size: 1rem;
    }

    .aksara-syllable {
        font-size: 2rem;
    }
}

@keyframes thumbs-up-animation {
    0% {
        transform: translateY(6rem) rotate(45deg);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}