.quiz-card {
    position: relative;
    display: flex;
    padding: 4rem;
    flex-direction: column;
    height: 180px;
    color: var(--color-lighterBrown);
    background-color: var(--color-secondary);
    border-radius: 1.2rem;
    cursor: pointer;

    .quiz-card-header {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .quiz-card-header-title-and-status {
            z-index: 1;
        
            .quiz-card-header-title {
                color: var(--color-white);
            }    
        }

        .quiz-card-icon {
            position: absolute;
            top: 0;
            right: 0;
    
            svg {
                font-size: 48px;
            }
        }
    }

    .quiz-card-content {
        position: relative;
        margin-top: auto;

        .quiz-card-status {
            font-weight: 700;
            color: var(--color-white);
        }

        .quiz-card-progress-bar {
            position: relative;
            display: flex;
            align-items: center;

            .play-icon {
                display: flex;
                justify-content: flex-end;
                width: 36px;
            }
        }
    }

    &.is-loading {
        h3, p {
            background: linear-gradient(110deg, var(--color-lightBrown) 8%, var(--color-lighterBrown) 18%, var(--color-lightBrown) 33%);
            background-size: 200% 100%;
            animation: 1.5s shine linear infinite;
        }

        .quiz-card-header-title-and-status {
            width: 100%;
        
            .quiz-card-header-title {
                height: 26px;
                margin-bottom: .5rem;
            }
        
            .quiz-card-header-status {
                height: 20px;
            }
        }

        .quiz-card-header-level {
            display: none;
        }
    }      
}

@keyframes shine {
    to {
      background-position-x: -200%;
    }
}