.quiz-wrapper {
    position: relative;
    height: 100vh;

    .quiz-top-area-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .thumbs-up-icon {
        position: relative;
        overflow: hidden;
    
        i {
            font-size: 6em;
            color: $blue;
            animation: thumbs-up-animation 0.4s ease-out;
        }
    }

    .latin-syllable, .aksara-syllable {
        color: rgba(71, 49, 28, .2);
        white-space: nowrap;

        &.current, &.answered {
            color: var(--color-primary);
        }
    }
    
    .aksara-syllable {
        font-size: 2.5em;
    }

    .latin-syllable {
        font-weight: 900;
        font-size: 1.2em;
    }

    .quiz-translation {
        font-size: 1.2em;
    }

    .quiz-translation,
    .quiz-next-button-area {
        &.invisible {
            transition: none;
            transition-delay: 0;
            opacity: 0;
        }

        &.visible {
            transition: all .5s ease-out;
            transition-delay: .4s;
            opacity: 1;
        }
    }

    .next-question-button {
        color: $white;
        background-color: var(--color-primary);
        padding-left: $spacer * 3;
        padding-right: $spacer * 3;
        border: 0;     
    }

    .notification {
        position: absolute;
        width: max-content;
        padding: $notification-padding-y $notification-padding-x;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        color: $white;
        background-color: var(--color-primary);
        font-weight: var(--font-weight-bold);
        border: 0;
        border-radius: 50rem;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;

        &.visible {
            opacity: 1;
            transform: translate(-50%, $spacer * -3);
        }

        &.primary {
            background-color: var(--color-primary);
        }

        &.secondary {
            background-color: $secondary;
        }

        &.info {
            background-color: $info;
        }

        &.success {
            background-color: $success;
        }

        &.warning {
            background-color: $warning;
        }

        &.danger {
            background-color: $danger;
        }
    }
}

@keyframes thumbs-up-animation {
    0% {
        transform: translateY(6rem) rotate(45deg);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}